@import "fonts";

@font-face {
	font-family: LemonMilk;
	src: url(fonts/LEMONMILK-Regular.woff);
}

@font-face {
	font-family: LemonMilk_bold;
	src: url(fonts/LEMONMILK-Bold.woff);
}

.layer-middle {
	z-index: 5;
}
